.section-product {
  @include section-margin;
}

.product {
  @include section-grid;

  place-items: start;
  &__image-container {
    // position: relative;
    width: calc(100% - 1.6rem);
    padding-right: 1.6rem;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // margin-bottom: 2.6rem;

    .glide__controls {
      visibility: hidden;
    }

    &:hover {
      .glide__arrows {
        opacity: 1;
      }
    }

    .glide {
      // width: 100%;
      height: auto;
      &__track {
        // height: 30rem;
      }
      &__slides {
      }
      &__slide {
        position: relative;
        height: 40rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      &__arrows {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        gap: 1.6rem;
        transform: translateY(-50%);
        z-index: 10;
      }
      &__arrow {
        background-color: $dark-yellow-300;
        // padding: 0.8rem;

        cursor: pointer;
        transition: background-color 0.4s ease;
        &:hover {
          background-color: $dark-yellow-500;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;

        &--left {
          transform: translateX(-1rem);
        }
        &--right {
          transform: translateX(1rem);
        }

        svg {
          color: $green-500;
        }
      }
    }
  }
  &__image {
    height: auto;
    width: 100%;
  }

  &__errors {
    background-color: red;
    padding: 0 1.6rem;
    border-radius: 10px;

    &-message {
      @include page-para;
      color: $brown-100;
    }
  }



  &__content {
    height: min-content;
    display: flex;

    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1.6rem;
  }
  &__title-container {
    width: 100%;
    min-height: min-content;
  }
  &__description {
    width: 100%;
    min-height: min-content;
  }
  &__price-container {
    width: 100%;
    min-height: min-content;
  }
  &__form {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    // gap: 1.6rem;
  }
  &-form {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 1.6rem;
  }

  &__quantity,
  &__variant,
  &__button {
    width: 100%;
  }

  &__selectors,
  &__buttons {
    display: flex;
    justify-content: start;
    gap: 1.6rem;
    width: 100%;
  }

  &__quantity {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    &-label {
      width: 100%;
    }
    &-input-container {
      border: 3px solid $brown-800;
      padding: 0.8rem 1.2rem;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
    }
    &-button {
      cursor: pointer;
      height: 4.8rem;
    }
    &-input {
      -moz-appearance: textfield;
      width: 100%;
      height: 4rem;
      @include button;
      border: none;
      text-align: center;
      background-color: transparent;
    }
  }
  &__variant {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    &-label {
      width: 100%;
    }

    &-select {
      width: 100%;
      height: 7rem;
      @include button;
      padding: 0.8rem 1.2rem;
      background-color: transparent;
      border: 3px solid $brown-800;
    }
    &-option {
      @include button;
      padding: 0.8rem 1.2rem;
      border: 3px solid $brown-800;
    }
  }

  @include media-tablet {
    &__image-container {
      // height: 45rem;

      img {
        width: 100%;
      }

      .glide {
        &__arrows {
        }
      }
    }

    &__content {
      width: 100%;
      margin: 0 0 !important;
    }
    &__selectors,
    &__buttons {
      flex-direction: column;
      //   width: 100%;
    }
    &__quantity {
      width: 100%;
      &-input-container {
        width: 100%;
      }
    }
    &__description {
      & > div {
        overflow-wrap: normal;
        width: 100%;
        & span {
          display: inline-block;
          overflow-wrap: normal;
        }
      }
    }
  }

  @include media-small {
    &__content {
      flex-direction: column;
      width: 100%;
      margin: 0 0 !important;
      padding: 0 1.6rem;
    }
    &__selectors,
    &__buttons {
      width: 100%;
      flex-direction: column;
      display: flex;
      justify-content: start;
      flex-wrap: wrap;
      gap: 1.6rem;
    }

    &__button {
      width: 100%;
    }

    &__quantity {
      width: 100%;
      &-input-container {
        width: 100%;
      }
    }
    &__variant {
      width: 100%;
    }
    &__description {
      & > div {
        overflow-wrap: normal;
        width: 100%;
        & span {
          display: inline-block;
          overflow-wrap: normal;
        }
      }
    }
  }
}
