<div class="reset">
  {% form 'reset_customer_password', class: 'reset__container', id: 'reset' %}
    <div class="reset__field-container">
      <label for="password" class="reset__password-label">password</label>
      <input name="customer[password]" id="password" type="password" class="reset__password-input">
    </div>
    <div class="reset__field-container">
      <label for="passwordConfirmation" class="reset__confirmation-label">Password</label>
      <input
        name="customer[password_confirmation]"
        id="passwordConfirmation"
        type="password"
        class="reset__confirmation-input"
      >
    </div>
    <div class="reset__submit-container">
      <input class="btn btn-primary" type="submit" value="Reset password">
    </div>
  {% endform %}
</div>

{% schema %}
{
  "name": "Reset-password",
  "class": "section-reset",
  "settings": [],
  "presets": [
    {
      "name": "Reset"
    }
  ]
}
{% endschema %}
