.alerts {
    position: relative;
    // overflow: hidden;
}

.success {
    &-message {
        position: relative;
        z-index: -1;
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        gap: 0.8rem;
        color: $green-500;
        transition: transform 0.3s ease-in-out;
        transform: translateY(50px);
        height: 0;
        opacity: 0;

        &__message {
            font-size: 2rem;
        }
        &.show {
            opacity: 1;
            transform: translateY(0px);
            height: auto;
        }
    }
}

.error {
    &-message {
        // position: absolute;
        position: relative;
        z-index: -1;
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        gap: 0.8rem;
        transition: transform 0.3s ease-in-out;
        transform: translateY(50px);
        height: 0;

        opacity: 0;
        color: red;
        &__message {
            font-size: 2rem;
        }
        &.show {
            opacity: 1;
            transform: translateY(0px);
            height: auto;
        }
    }
}
