.cart-notification__container {
    @include section-grid;
    // width: min-content;
    margin-top: -3.2rem;
    cart-notification {
        @include section-container;

        // outline: 3px red solid;
        // outline-offset: -2px;
        // width: 100%;
        .cart-notification {
            border-bottom-right-radius: var(--popup-corner-radius);
            border-bottom-left-radius: var(--popup-corner-radius);
            border-color: $dark-yellow-800;
            background-color: $dark-yellow-400;
            border-style: solid;
            border-width: 0 0 var(--popup-border-width);
            padding: 2.5rem 3.5rem;
            position: absolute;
            right: 0;
            transform: translateY(-100%);
            visibility: hidden;
            width: 100%;
            color: $dark-yellow-800;
            box-shadow: var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset)
                var(--popup-shadow-blur-radius) rgba(var(--color-shadow), var(--popup-shadow-opacity));
            &.focused {
                box-shadow: 0 0 0.2rem 0 rgba(var(--color-foreground), 0.3),
                    var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset)
                        var(--popup-shadow-blur-radius) rgba(var(--color-shadow), var(--popup-shadow-opacity));
            }
            &:focus-visible {
                box-shadow: 0 0 0.2rem 0 rgba(var(--color-foreground), 0.3),
                    var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset)
                        var(--popup-shadow-blur-radius) rgba(var(--color-shadow), var(--popup-shadow-opacity));
            }
            &.animate {
                transition: transform var(--duration-short) ease, visibility 0s var(--duration-short) ease;
            }
            &.active {
                transform: translateY(0);
                transition: transform var(--duration-default) ease, visibility 0s;
                visibility: visible;
                display: block;
            }
            &-wrapper {
                position: relative;

                .cart-notification {
                    display: block;
                }
            }
            &__header {
                align-items: flex-start;
                display: flex;
                .icon-close {
                    color: $dark-yellow-800;
                    width: 4.8rem;
                    height: 4.8rem;
                    fill: $dark-yellow-800;
                }
            }
            &__heading {
                align-items: center;
                display: flex;
                flex-grow: 1;
                margin-bottom: 0;
                margin-top: 0;
                font-family: var(--font-body-family);
                .icon-checkmark {
                    color: $green-500;
                    margin-right: 1rem;
                    width: 1.3rem;
                }
            }
            &__close {
                // margin-top: -2rem;
                // margin-right: -3rem;
            }
            &-product {
                align-items: flex-start;
                display: flex;
                padding-bottom: 3rem;
                padding-top: 2rem;
                font-family: var(--font-body-family);

                dl {
                    margin-bottom: 0;
                    margin-top: 0;
                    dt,
                    dd {
                        font-family: var(--font-body-family);
                    }
                }
                &__image {
                    display: inline-flex;
                    margin-right: 1.5rem;
                    margin-top: 0.5rem;
                    &:after {
                        content: none;
                    }
                }
                &__name {
                    margin-bottom: 0.5rem;
                    margin-top: 0;
                    font-family: var(--font-heading-family);
                }
            }
            &__links {
                text-align: center;
                & > * {
                    margin-top: 1rem;
                    font-family: var(--font-body-family);
                }
            }
            &-button {
            }
        }
    }
}

@media screen and (min-width: 750px) {
    .header-wrapper:not(.header-wrapper--border-bottom) + cart-notification .cart-notification {
        border-top-width: var(--popup-border-width);
    }
    cart-notification {
        @include right-section;
    }
    .cart-notification {
        border-width: 0 var(--popup-border-width) var(--popup-border-width);
        max-width: 36.8rem;
        right: 4rem;
    }
}
