* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease-out;
}
// *,
// *::after,
// *::before {
//     // border: 1px solid red;
//     outline: 1px solid yellow;
//     background-color: black !important;
// }
li,
ul,
a,
a:link,
a:active,
a:hover {
    text-decoration: none;
    color: unset;
    list-style: none;
}
*::before,
*::after {
    box-sizing: border-box;
}

main {
}
button {
    border: none;
    background-color: transparent;
}
.w-100 {
    width: 100% !important;
}

body,
html {
    position: relative;
}
.shopify-section {
    // overflow-x: hidden;
}
#dummy-chat-button-iframe {
    left: 0;
}
